.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  @media (max-width: 384px) {
    width: 100%;
  }
}

button {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
