.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  @media (max-width: 384px) {
    width: 100%;
  }
}

.loading_options {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid;
  position: fixed;
  right: 25px;
  bottom: 25px;

  label {
    display: block;
  }
  button {
    float: right;
  }
}
